extends layout

block content
  script(src='/js/main.js')
  div(class="content")
    p(id="blurb") Play games like DotA Allstars right here in your browser tab
    img(src="/images/arcade_logo_white.png", class="arcadelogowhite")
    div(id="comingsoon")
      span(class="blink") Press Enter
  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    span(id='credit') CREDIT(S) 1
