extends layout

block content
  script(src='/js/main.js')
  div(class="content")
    div(class="main_title")
        img(src="/images/arcade_logo_white.png", class="arcadelogowhite")
        p(id="blurb") Your browser is the computer 
        div(id="comingsoon")
          span(class="blink") Press Enter
  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    span(id='credit') CREDIT(S) 1
