extends layout

block content
  div(class="content")
    p(id="blurb") Play games like DotA Allstars right here in your browser tab
    img(src="/images/arcade_logo_white.png", class="arcadelogowhite")
    div(id="comingsoon")
      span(class="blink") Press Enter

