doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    span(id='credit') CREDIT(S) 1
