extends layout

block content
  div(class="content")
    script(src='/js/p2.js')
    div(class='title')
      h1 Mission
    div(class="sticky_bottom")
        p(class='headline') Deliver over-the-top computing to a browser tab. 
        a(class='next', href='/') BACK 
        a(class='next', href='/p3') NEXT
        p(class='hint') (Hint: Use the < and > arrow keys to navigate between pages)


  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/') QUIT 
