extends layout

block content
  h1 Mission
  p(class='headline') Deliver just-in-time computuing to a browser tab
  a(class='next', href='/p3') NEXT

  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/') QUIT 
