extends layout

block content
  div(class='content')
    script(src='/js/p3.js')
    div(class='title')
        h1 Problem 
    div(class='sticky_bottom')
        p(class='headline') Software available on-demand on the web is limited to simple apps, such as Google Docs. 
        a(class='next', href='/p2') BACK 
        a(class='next', href='/p4') NEXT


  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/') QUIT 
