extends layout

block content
  h1 Interference 
  p(class='headline') Frame, Paperspace(YC '15) and Workspot all have raised multi-million dollar Series A rounds in the last six months(Oct 2015) The race is on. 
  p(class='headline') Thin-client has been tried at the enterprise level with moderate success due to big-company inertia. 
  p(class='headline') We are focused entirely on first optimizing the simplest consumer experience. Fast, light, free, entertainment-focused. 


  a(class='next', href='/p6') BACK 
  a(class='next', href='/p8') NEXT


  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/') QUIT 
