extends layout

block content
  h1 Continue? 
  a(class='back', href='/p8') BACK 
  a(class='next', href='/test') GO! 

  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/') QUIT 
