extends layout

block content
  script(src='/js/jquery.min.js')
  script(src='/js/sly.min.js')
  script(src='/js/p9.js')
  div(class='title')
    h1 Continue? 
  div(class='frame', id='frame')
    ul(class='slidee')
      li
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/dota.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/guilty.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/char.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/heroes.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/knight.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/worms.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/marine2.gif')
      li 
        div(class='chooserdiv') 
          img(class='choosergif', src='/images/xwing.gif')
      li 
        div(class='chooserdiv') 
          p(class='choosertitle') THANKS FOR READING! 

  footer
    span(id='copyright') &copy;2015 Rep Communications, Inc
    a(id='credit', href='/', style='color: palegreen') NEW GAME+ 
