@font-face{
    font-family: Arcade;
    src: url('../assets/arcade.ttf');
}

@font-face{
    font-family: Arcade_thin;
    src: url('../assets/arcade_thin.ttf');
}

body {

    font-family: "Arcade", "Arial", serif;
    color: white;
    background-image: url('../../images/background.gif');
    background-size: cover;
}

.content{
/*
    margin: auto;
    width: 100%;
    height: 95%;
    top: 0;
    position: fixed;
    overflow: auto;
    */
}

.main_title{
    text-align: center;
    margin-top: 100px;
}

#blurb{
    font-family: "Arcade_thin", "Arial", sans-serif;
    font-size: 1.7em;
}

#comingsoon{
    font-size: 1.5em;
    color: lime;
    padding-top: 25px;
}

.title{
    padding-top: 40px;
    width: 88%;
    margin: auto;
}

h1{
    font-family: 'Arcade_thin', 'Arial', sans-serif;
    font-size: 4em;
}

.sticky_bottom{
    margin: auto;
    padding-bottom: 150px;
    width: 70%;
    position: fixed;
    bottom: 0;
    margin-left: 15%;
}

.overflow_content{
    margin: auto;
    padding-bottom: 80px;
    width: 70%;
}


.headline{
    font-size: 2.3em;
    padding-bottom: 20px;
    font-family: 'Arcade_thin', 'Arial', sans-serif;
}

.next {
    color: yellow;
    text-decoration: none;
    font-size: 1.5em;

}



.team_separator{
    width: 100%;
    margin-bottom: 30px;
    margin-top: -30px;
}

.crew_1{
    width: 49%;
    display: inline-block;
}

.crew_2{
    width: 51%;
    display: inline-block;
}

footer{
    width:100%;
    height: 5%;
    position: fixed;
    bottom:0;
    left:0;
}

#copyright{
    padding-left: 40px;
}

#faq{
    font-size: 1.4em;
    color: hotpink;
    margin-left: 40px;
}

#credit{
    padding-right: 40px;
    float: right;
}

#char{
    margin-bottom: 40px;
}

#waitingblurb{
    color: lime;
    font-size: 1.4em;
}

#gofullscreen{
    display: block;
    margin-top: 20px;
    color: lime;
    text-decoration: none;
}

#tryanother{
    display:block;
    margin-top: 10px;
    color: darkorange;
    text-decoration: none;
}

#gameover{
    font-size: 5em;
    color: red;
    margin-top: 100px;
}

.clearSession{
    margin-top: 20px;
    color: black;
    width: 50px;
}

.question{
    font-size: 1.5em;
    margin-top: 30px;
}

.answer{
    color: lime;
}

/*sly frame stuff */
.frame { 
    width: 600px;
    height: 500px; 
    padding: 0; 
    margin: auto;
    margin-top: 50px;
}
.slidee { 
    margin: 0; 
    padding: 0; 
    height: 500px; 
    list-style: none;
}
.frame .slidee li {
    float: left; 
    padding: 0; 
    width: 600px; 
    height: 500px;
}

.chooserdiv{

}

.choosergif{
    height: 300px;
}

.choosertitle{
    font-size: 1.5em;
    margin-top: 10px;
}

.chooserblurb{
    margin-top: 10px;
    color: yellow;
}
.scrollbar { 
    width: 400px; 
    height: 10px;
    margin: auto;
}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
}



@media screen and (max-width: 800px){

    footer{
        display: none;
    }

    #blurb{
        display: none;
    }

    #copyright{
        display: none;
    }

    .content{
        width: 400px;
    }

    #arcadelogowhite{
        width: 400px;
    }

    
}

@media screen and (max-height: 600px){

    footer{
        display:none;
    } 

    #blurb{
        display: none;
    }
    

}                     

                     



/* @group Blink */

.blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}


@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* @end */

